/* CSS Document */
@font-face {
    -fx-font-family: 'Roboto Cn';
    src: url('fonts/Roboto-Condensed.ttf');
}

*{
    -fx-base : #143b28;
    -fx-line-base : #04fff2;
    -fx-font-family: "Roboto Cn" ;
    -fx-color-typo: #c2f8c4;
    -fx-color-backround-value: #143b2800;
}
.instrumenttitle{
    -fx-font: 24px "Roboto Cn";
    -fx-fill : -fx-color-typo;

}
.infotittle{
    -fx-font: 20px "Roboto Cn";
    -fx-fill : -fx-color-typo;

}
.instrumentvalue{
    -fx-font: 18px "Roboto Cn";
    -fx-fill: -fx-color-typo;
    /*-fx-font-weight: bold; */
}
.instrumentcadres{
    -fx-stroke:-fx-color-contours;
    -fx-stroke-width: 2;
    -fx-fill:-fx-color-backround-value; 
}
/*******************************************************************************
 *                                                                             *
 * cadre                                                                *
 *                                                                             *
 ******************************************************************************/
.foot-pane {
    -fx-border-radius: 0 0 20 20;
    -fx-background-radius: 0 0 20 20;
    -fx-background-color: -fx-base;
}
.top-pane {
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: -fx-base;    
}
.left-pane {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: -fx-base;    
}
.right-pane {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: -fx-base;    
}
.center-pane {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: -fx-base;    
}
.background-pane{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: -fx-base;
}


/*******************************************************************************
 *                                                                             *
 *GridPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.grid-pane {
    -fx-background-color: transparent;  
}
.grid-instruments {
    -fx-background-color: -fx-base; 
}


/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider .thumb {
    -fx-background-color:   -fx-line-base;
    -fx-background-insets: 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 0.583333em;  /* 7 */
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);
}
.slider:focused .thumb {
    -fx-background-radius: 1.0em; /* makes sure this remains circular */

}
.slider .track {
    -fx-background-color:  -fx-line-base, -fx-line-base;
    -fx-background-insets: 2, 1;
    -fx-background-radius: 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}
.slider:vertical .track {
    -fx-background-color: -fx-line-base;
    -fx-background-insets: 2, 1;
    -fx-background-radius: 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}
.slider .axis {
    -fx-tick-label-fill: derive(-fx-background, 30%);
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 3px;
    -fx-border-color: null;
}

/*******************************************************************************
 *                                                                             *
 * Clock                                                                       *
 *                                                                             *
 ******************************************************************************/

.clockvalue{
    -fx-font: 18px "Roboto Cn";
    -fx-fill: -fx-color-typo;  
}
.datevalue{
    -fx-font: 14px "Roboto Cn";
    -fx-fill: -fx-color-typo;  
}
.clockcadres{
    -fx-stroke-width: 2;
    -fx-fill:-fx-color-backround-value; 
}