/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 nov. 2016, 22:12:50
    Author     : Dom
*/


.meteo-button {
    -fx-background-color: #00990000;
    /*-fx-background-image: url("arrow-right-green.png");*/
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0;
    /*-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;*/ /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
	}
.meteo-button:hover{
    -fx-background-color: #04fff260;        
        }       
 .meteo-button:pressed {
    -fx-background-color: #ff000060;
    -fx-background-radius: 5;
        }
/*------------------ GridPane -----------------*/
.grid-pane {
    -fx-background-color: #143b28;
    -fx-background-radius: 2;
    -fx-border-color:#eeeeee;
    -fx-border-width:1 ;
    -fx-border-radius:5; 
    -fx-background-radius: 5; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,70), 10, 0, 3, 3);      
}

