/*******************************************************************************
 *                                                                             *
 * colors definitions                                                                 *
 *                                                                             *
 ******************************************************************************/
* {
    -fx-base: black;
    -fx-light-gradient: white;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;
    -fx-faint-focus-color: -fx-accent;
    -fx-hover-base: lightgrey;
    -fx-pressed-base: derive(-fx-hover-base, -15%);
    -fx-box-border: -fx-hover-base;
    -fx-text-box-border: -fx-hover-base;
    -fx-text-base-color: white;
    -fx-shadow-highlight-color: -fx-base;
    -fx-outer-border: -fx-hover-base;
    -fx-inner-border: -fx-hover-base;
}
/*******************************************************************************
 *                                                                             *
 * Tree view                                                                   *
 *                                                                             *
 ******************************************************************************/
.tree-view {
    -fx-background-color: #252525;
}

.tree-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#statusBorderPane {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
}
/*******************************************************************************
 *                                                                             *
 * Radial menu                                                                 *
 *                                                                             *
 ******************************************************************************/
#radialItem {
    -fx-fill: linear-gradient(-fx-light-gradient, -fx-base);
    -fx-stroke: #120D43;
    -fx-stroke-width: 2;
}

#radialItem:pressed {
    -fx-fill: linear-gradient(-fx-base, -fx-light-gradient);
    -fx-stroke: #120D43;
    -fx-stroke-width: 2;
}

/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/
.split-pane-divider {
   //-fx-background-color: linear-gradient(to left, #FAFAFA, #303030);
   -fx-background-color: linear-gradient(to left, lightgrey, grey);
   //-fx-background-color: grey;
   -fx-background-image: url("layer_diviser_icon.png");
   -fx-background-position: center;
   -fx-background-repeat: no-repeat;
   //-fx-padding: /*0 0.25em 0 0.25em;*/ 0 8 0 8;
   -fx-padding: 0 13 0 13;
}
/* horizontal the two nodes are placed to the left/right of each other. 
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -fx-box-border, -fx-inner-border-horizontal;
   -fx-background-insets: 0, 0 1 0 1;
}*/
/* vertical the two nodes are placed on top of each other. 
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: -fx-box-border, -fx-inner-border;
   -fx-background-insets: 0, 1 0 1 0;
}*/

/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em;  /* 4 5 4 5 */
}
.menu-item > .left-container {
    -fx-padding: 0.458em 0.791em 0.458em 0.458em;
}
.menu-item > .graphic-container {
    -fx-padding: 0em 0.333em 0em 0em;
}
.menu-item >.label {
    -fx-padding: 0em 0.5em 0em 0em;
    -fx-text-fill: -fx-text-base-color;
}
.menu-item:focused {
     -fx-background: -fx-selection-bar;
     -fx-background-color: -fx-background;
     -fx-text-fill:  -fx-text-base-color;
}
.menu-item:focused > .label {
    -fx-text-fill: white;
}