.tree-view {
    -fx-background-color: #252525;
}

.tree-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#statusBorderPane {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
}

#radialitem {
    -fx-fill: linear-gradient(#00ADF7  , #0776D1);
}