* {
    -fx-base: black;
    -fx-light-gradient: white;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;
    -fx-faint-focus-color: -fx-accent;
    -fx-hover-base: lightgrey;
    -fx-pressed-base: derive(-fx-hover-base, -15%);
    -fx-box-border: -fx-hover-base;
    -fx-text-box-border: -fx-hover-base;
    -fx-shadow-highlight-color: -fx-base;
    -fx-outer-border: -fx-hover-base;
}

.tree-view {
    -fx-background-color: #252525;
}

.tree-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#statusBorderPane {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
}

#radialitem {
    -fx-fill: linear-gradient(-fx-light-gradient, -fx-base);
}