
/*******************************************************************************
 *                                                                             *
 * colors definitions                                                                 *
 *                                                                             *
 ******************************************************************************/
* {
    -fx-base: black;
    -fx-light-gradient: #fff5;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;
    -fx-focus-color: whitesmoke;
    -fx-faint-focus-color: whitesmoke;
    -fx-accent: red;
    -fx-hover-base: lightgrey;
    -fx-pressed-base: derive(-fx-hover-base, -15%);
    -fx-box-border: -fx-hover-base;
    -fx-text-box-border: -fx-hover-base;
    -fx-text-base-color: whitesmoke;
    -fx-shadow-highlight-color: -fx-base;
    -fx-outer-border: -fx-hover-base;
    -fx-inner-border: -fx-hover-base;

}
/*******************************************************************************
 *                                                                             *
 * Tree view                                                                   *
 *                                                                             *
 ******************************************************************************/
.tree-view {
    -fx-background-color: #252525;
}

.tree-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#statusBorderPane {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
}
/*******************************************************************************
 *                                                                             *
 * Radial menu                                                                 *
 *        (#7ac0ce, #253e4466)                                                                     *
 ******************************************************************************/
#radialItem {
   -fx-fill:linear-gradient( rgba(122,192,206,0.5),rgba(37,62,68,0.5)) ;
    -fx-stroke: #7ac0ce;
    -fx-stroke-width: 1;
}

#radialItem:pressed {
    -fx-fill : linear-gradient(  rgba(95,134,138,0.5), -fx-light-gradient );
    -fx-stroke: #7ac0ce;
    -fx-stroke-width: 1;
}

/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/
.NavisuSplitPane{
    -fx-background-color: -fx-box-border, -fx-background;
    -fx-background-insets: 0, 0 1 0 1;
}
>.split-pane-divider {
    -fx-background-color: linear-gradient(to left, lightgrey, grey);
    -fx-background-image: url("layer_diviser_icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0 13 0 13;
}
/* horizontal the two nodes are placed to the left/right of each other. 
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -fx-box-border, -fx-inner-border-horizontal;
   -fx-background-insets: 0, 0 1 0 1;
}*/
/* vertical the two nodes are placed on top of each other. 
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: -fx-box-border, -fx-inner-border;
   -fx-background-insets: 0, 1 0 1 0;
}*/

/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em;  /* 4 5 4 5 */
}
.menu-item > .left-container {
    -fx-padding: 0.458em 0.791em 0.458em 0.458em;
}
.menu-item > .graphic-container {
    -fx-padding: 0em 0.333em 0em 0em;
}
.menu-item >.label {
    -fx-padding: 0em 0.5em 0em 0em;
    -fx-text-fill: -fx-text-base-color;
}
.menu-item:focused {
    -fx-background: -fx-selection-bar;
    -fx-background-color: -fx-background;
    -fx-text-fill:  -fx-text-base-color;
}
.menu-item:focused > .label {
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-pane > .viewport {
    -fx-background-color: -fx-background;
}
.scroll-pane > .scroll-bar:horizontal {
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}
.scroll-pane > .scroll-bar:horizontal > .increment-button,
.scroll-pane > .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.166667em 0.25em 0.25em  0.25em; /* 2 3 3 3 */
}
.scroll-pane > .scroll-bar:vertical > .increment-button,
.scroll-pane > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.25em 0.25em 0.166667em; /* 3 3 3 2 */
}
.scroll-pane > .scroll-bar:vertical {
    -fx-background-insets: 1 1 1 0, 1;
    -fx-padding: 1 0 1 0;
}
.scroll-pane > .corner {
    -fx-background-color: derive(-fx-base,-1%);
    -fx-background-insets: 0 1 1 0;
}
/* new styleclass for edge to edge scrollpanes that don't want to draw a border */
.scroll-pane.edge-to-edge,
.tab-pane > * > .scroll-pane {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane.edge-to-edge > .scroll-bar,
.tab-pane > * > .scroll-pane > .scroll-bar,
.titled-pane > * > * > .scroll-pane > .scroll-bar {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane.edge-to-edge > .scroll-bar > .increment-button, 
.scroll-pane.edge-to-edge > .scroll-bar > .decrement-button,
.tab-pane > * > .scroll-pane > .scroll-bar > .increment-button, 
.tab-pane > * > .scroll-pane > .scroll-bar > .decrement-button,
.titled-pane > * > * > .scroll-pane > .scroll-bar > .increment-button,
.titled-pane > * > * > .scroll-pane > .scroll-bar > .decrement-button {
    -fx-padding: 0.25em; /* 3px */
}

.NavisuBorderPane{
    -fx-background-color: -fx-background;
    -fx-border-color: null;
}
