# Compiled source #
###################
*.class

#Ignore all IntelliJ files
###################
*.iml
.idea/

#Ignore .gradle 
##################
.gradle/

#Ignore build directory
##################
*/build/
