# Compiled source #
###################
*.class

#Ignore all IntelliJ files
###################
*.iml
.idea/

#Ignore .gradle 
##################
.gradle/

#Ignore build directory
##################
*/build/
/navisu-app/.nb-gradle/profiles/private/
/navisu-core/.nb-gradle/profiles/private/
/.nb-gradle/profiles/private/
/.nb-gradle/private/
/navisu-geodesy/.nb-gradle/private/
/build/