# Compiled source #
###################
*.class

#Ignore all IntelliJ files
###################
*.iml
.idea/

#Ignore .gradle 
##################
.gradle/

#Ignore build directory
##################
*/build/
/navisu-app/.nb-gradle/profiles/private/
/navisu-core/.nb-gradle/profiles/private/
/.nb-gradle/profiles/private/
/.nb-gradle/private/
/navisu-geodesy/.nb-gradle/private/
/build/
/dest/
/navisu-launcher/data/shp/*
/navisu-launcher/data/databases/*
/navisu-launcher/data/saved/*
/navisu-launcher/data/bathymetry/shom/*
/navisu-launcher/errors.txt
/navisu-launcher/derby.log
/navisu-launcher/properties/*
/navisu-launcher/donnees/*
/navisu-agents/.nb-gradle/private/
/navisu-app/.nb-gradle/private/
/navisu-charts/.nb-gradle/private/
/navisu-client/.nb-gradle/private/
/navisu-core/.nb-gradle/private/
/navisu-domain/.nb-gradle/private/
/navisu-gpx/.nb-gradle/private/
/navisu-grib/.nb-gradle/private/
/navisu-instruments/.nb-gradle/private/
/navisu-kml/.nb-gradle/private/
/navisu-launcher/.nb-gradle/private/
/navisu-server/.nb-gradle/private/
/navisu-shapefiles/.nb-gradle/private/
/navisu-topology/.nb-gradle/private/
/navisu-util/.nb-gradle/private/
/navisu-widgets/.nb-gradle/private/
/.nb-gradle/
