/* CSS Document */

@import "commonTemplate.css";


.aisvalue{
    -fx-font: 14px "Roboto Cn";
    -fx-fill : -fx-color-typo;
    /*-fx-font-weight: bold;*/
}
.aislabel{
    -fx-font: 14px "Roboto Cn";
    -fx-fill : -fx-line-base;
    /*-fx-font-weight: bold;*/
}
.aisshipname{
    -fx-font: 18px "Roboto Cn";
    -fx-fill : -fx-color-typo;
    -fx-font-weight: bold;
    -fx-underline : true;
} 
.webserverlist{
    -fx-font: 18px "Roboto Cn";
    -fx-fill : #fff900; 
}

