@charset "utf-8";
/* CSS Document */
@font-face {
  -fx-font-family: 'Navisu';
  /*src: url('fonts/Roboto-Black.ttf');
  src: url('fonts\\Roboto-BlackItalic.ttf');
  src: url('fonts\\Roboto-BoldCondensed.ttf');
  src: url('fonts\\Roboto-BoldCondensedItalic.ttf');
  src: url('fonts\\Roboto-BoldItalic.ttf');
  src: url('fonts/Roboto-Condensed.ttf');
  src: url('fonts\\Roboto-CondensedItalic.ttf');
  src: url('fonts\\Roboto-Italic.ttf');
  src: url('fonts\\Roboto-Light.ttf');
  src: url('fonts\\Roboto-LightItalic.ttf');
  src: url('fonts\\Roboto-Medium.ttf');
  src: url('fonts\\Roboto-MediumItalic.ttf');*/
  src: url('fonts/Roboto-Regular.ttf');
  /*src: url('fonts\\Roboto-Thin.ttf');
  src: url('fonts\\Roboto-ThinItalic.ttf');
  src: url('fonts/wwDigital.ttf');
  src: url('fonts/digital-mono.ttf');*/
}


.aisvalue{
    -fx-font: 14px "Roboto Cn";
}
.aisname{
    -fx-font: 18px "Roboto Cn";
    -fx-font-weight: bold;
}

