# Compiled source #
###################
*.class

#Ignore all IntelliJ files
###################
*.iml
.idea/

#Ignore build directory
##################
build/
dest/

#Data produced
##################
privateData/
private/
cmd/

#Logs and errors
##################
*.txt
*.log

#Private
##################
/navisu-launcher/properties/user.properties
