@charset "utf-8";
/* CSS Document */
@font-face {
  -fx-font-family: 'Navisu';
  /*src: url('fonts/Roboto-Black.ttf');
  src: url('fonts\\Roboto-BlackItalic.ttf');
  src: url('fonts\\Roboto-BoldCondensed.ttf');
  src: url('fonts\\Roboto-BoldCondensedItalic.ttf');
  src: url('fonts\\Roboto-BoldItalic.ttf');
  src: url('fonts/Roboto-Condensed.ttf');
  src: url('fonts\\Roboto-CondensedItalic.ttf');
  src: url('fonts\\Roboto-Italic.ttf');
  src: url('fonts\\Roboto-Light.ttf');
  src: url('fonts\\Roboto-LightItalic.ttf');
  src: url('fonts\\Roboto-Medium.ttf');
  src: url('fonts\\Roboto-MediumItalic.ttf');*/
  src: url('fonts/Roboto-Regular.ttf');
  /*src: url('fonts\\Roboto-Thin.ttf');
  src: url('fonts\\Roboto-ThinItalic.ttf');
  src: url('fonts/wwDigital.ttf');
  src: url('fonts/digital-mono.ttf');*/
}

/*.body {
	-fx-font-family: Navisu, "Roboto Bk", "Roboto Cn", "Roboto Lt", "Roboto Th", "WW Digital", "Digital-7 Mono"  ;
}*/

.aisvalue{
    -fx-font: 14px "Roboto Cn";
    /*-fx-font-weight: bold;*/
}
.aisname{
    -fx-font: 18px "Roboto Cn";
    /*-fx-font-weight: bold;*/
    -fx-underline : true;
}
/*******************************************************************************
 *                                                                             *
 * cadre                                                                *
 *                                                                             *
 ******************************************************************************/

.foot-pane, 
.top-pane,
.left-pane,
.right-pane {
    -fx-color-contour : #143b28;
    //-fx-color-contour : #000000;
}

.foot-pane {
    -fx-border-radius: 0 0 20 20;
    -fx-background-radius: 0 0 20 20;
    //-fx-background-color: #143b28;
    -fx-background-color: linear-gradient(to top, derive(-fx-color-contour ,55%), derive(-fx-color-contour ,-5%));
}
.top-pane {
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
    //-fx-background-color: #143b28;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color-contour,55%), derive(-fx-color-contour,-5%));
}
.left-pane {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    //-fx-background-color: #143b28;
    -fx-background-color: linear-gradient(to right, derive(-fx-color-contour,55%), derive(-fx-color-contour,-5%));
}
.right-pane {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    //-fx-background-color: #143b28;
    -fx-background-color: linear-gradient(to left, derive(-fx-color-contour,55%), derive(-fx-color-contour,-5%));
}


/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.scrolling-pane > .viewport {
    -fx-background-color: #143b28;
}
.scrolling-pane > .scroll-bar:horizontal {
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}
.scrolling-pane > .scroll-bar:horizontal > .increment-button,
.scrolling-pane > .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.166667em 0.25em 0.25em  0.25em; /* 2 3 3 3 */
}
.scrolling-pane > .scroll-bar:vertical > .increment-button,
.scrolling-pane > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.25em 0.25em 0.166667em; /* 3 3 3 2 */
}
.scrolling-pane > .scroll-bar:vertical {
    -fx-background-insets: 1 1 1 0, 1;
    -fx-padding: 1 0 1 0;
}
.scrolling-pane > .corner {
    -fx-background-color: #143b28;
    -fx-background-insets: 0 1 1 0;
}
/* new styleclass for edge to edge scrollpanes that don't want to draw a border */
.scrolling-pane.edge-to-edge,
.tab-pane > * > .scrolling-pane {
    -fx-background-color: #ffff00;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scrolling-pane.edge-to-edge > .scroll-bar,
.tab-pane > * > .scrolling-pane > .scroll-bar,
.titled-pane > * > * > .scrolling-pane > .scroll-bar {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scrolling-pane.edge-to-edge > .scroll-bar > .increment-button, 
.scrolling-pane.edge-to-edge > .scroll-bar > .decrement-button,
.tab-pane > * > .scrolling-pane > .scroll-bar > .increment-button, 
.tab-pane > * > .scrolling-pane > .scroll-bar > .decrement-button,
.titled-pane > * > * > .scrolling-pane > .scroll-bar > .increment-button,
.titled-pane > * > * > .scrolling-pane > .scroll-bar > .decrement-button {
    -fx-padding: 0.25em; /* 3px */
}

/*******************************************************************************
 *                                                                             *
 *GridPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.grid-pane {
   -fx-background-color: transparent;  
}
.grid-instruments {
   -fx-background-color: #143b28; 
}
