@import "common.css";

/*******************************************************************************
 *                                                                             *
 * Slider - specific css                                                       *
 *                                                                             *
 ******************************************************************************/
.buttonslider {
    -fx-fill: #009933;
    -fx-stroke: #008822;
    -fx-stroke-width:2;
}