/* CSS Document */
@import "common.css";
/*******************************************************************************
 *                                                                             *
 * catalogListView - specific data                             *
 *                                                                             *
 ******************************************************************************/
* {
    -fx-scrollbar-color: derive(-fx-color,80%);
    -fx-text-base-color: whitesmoke;
    -fx-text-background-color:#ffffff;
    -fx-text-inner-color: whitesmoke;
    -fx-selection-bar-text: whitesmoke;
}
.quitbuttoncatalog
{
    -fx-background-color: #bb000000;
    -fx-background-radius: 10;
    -fx-text-fill: -fx-color-typo;
    -fx-content-display: CENTER;
}
/* ====   BOX LIKE THINGS   ================================================= */

.scroll-pane,
.list-view,
.tree-view
 {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}
.scroll-pane:focused,
.list-view:focused,
.tree-view:focused
{
    -fx-background-color: transparent; 
    -fx-background-insets: -1.4, -0.3, 1;
    -fx-background-radius: 2, 0, 0;
}
/* ones with grey -fx-background not lighter -fx-control-inner-background */
.scroll-pane,
.split-pane {
    -fx-background-color: transparent;
}
.scroll-pane:focused,
.split-pane:focused {
    -fx-background-color: transparent; 
}
.titled-pane > * > * > .split-pane,
.titled-pane > * > * > .text-area,
.titled-pane > * > * > .html-editor,
.titled-pane > * > * > .list-view,
.titled-pane > * > * > .tree-view,
.titled-pane > * > * > .table-view,
.titled-pane > * > * > .tree-table-view,
.titled-pane > * > * > .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}
/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected
{
    -fx-background: transparent;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}
/* Selected when control is not focused */
.list-cell:filled:selected {
    -fx-background: transparent;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}
/* focused cell (keyboard navigation) */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused
{
    -fx-background-color: transparent !important;
    -fx-background-insets: 0, 1, 2 !important;
}
/*******************************************************************************
 *                                                                             *
 * ListView and ListCell                                                       *
 *                                                                             *
 ******************************************************************************/

.list-cell {
    -fx-background: transparent;
    -fx-padding: 0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
}
.list-cell:odd {
    -fx-background: transparent;
}
/* Customise the ListCell that appears in the ComboBox button itself */
.combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    /*-fx-text-fill: -fx-text-base-color;*/
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
}
/*--------- ScrollPane ---------*/
.scrolling-pane > .viewport {
    -fx-background-color: -fx-base-transcc;
    -fx-background-radius: 0.5em;
}
.scrolling-pane > .scroll-bar:horizontal {
    -fx-background-color: -fx-scrollbar-color;
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}
.scrolling-pane > .scroll-bar:horizontal > .increment-button,
.scrolling-pane > .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.166667em 0.25em 0.25em  0.25em; /* 2 3 3 3 */
    -fx-background-radius: 0.5em;
}
.scrolling-pane > .scroll-bar:vertical > .increment-button,
.scrolling-pane > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.25em 0.25em 0.166667em; /* 3 3 3 2 */
}
.scrolling-pane > .scroll-bar:vertical {
    -fx-background-color: -fx-scrollbar-color;
    -fx-background-insets: 1 1 1 0, 1;
    -fx-padding: 1 0 1 0;
    
}
.scrolling-pane > .corner {
    -fx-background-color: -fx-scrollbar-color;
    -fx-background-radius: 0;

}
/* new styleclass for edge to edge scrollpanes that don't want to draw a border */
.scrolling-pane.edge-to-edge,
.tab-pane > * > .scrolling-pane {
    -fx-background-color: -fx-scrollbar-color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 1;
}
.scrolling-pane.edge-to-edge > .scroll-bar,
.tab-pane > * > .scrolling-pane > .scroll-bar,
.titled-pane > * > * > .scrolling-pane > .scroll-bar {
    -fx-background-insets: 0;
    -fx-padding: 1;
}
.scrolling-pane.edge-to-edge > .scroll-bar > .increment-button, 
.scrolling-pane.edge-to-edge > .scroll-bar > .decrement-button,
.tab-pane > * > .scrolling-pane > .scroll-bar > .increment-button, 
.tab-pane > * > .scrolling-pane > .scroll-bar > .decrement-button,
.titled-pane > * > * > .scrolling-pane > .scroll-bar > .increment-button,
.titled-pane > * > * > .scrolling-pane > .scroll-bar > .decrement-button {
    -fx-padding: 0.25em; /* 3px */
}