/* CSS Document */

@import "greencommon.css";

/*******************************************************************************
 *                                                                             *
 * Clock                                                                       *
 *                                                                             *
 ******************************************************************************/
.clockvalue{
    -fx-font: 18px "Roboto Cn";
    -fx-fill: -fx-color-typo;  
}
.datevalue{
    -fx-font: 14px "Roboto Cn";
    -fx-fill: -fx-color-typo;  
}
.clockcadres{
    -fx-stroke-width: 1;
    -fx-fill:-fx-color-backround-value; 
}
.houradjustbutton{
    -fx-background-color: #bb000000;
    -fx-background-radius: 15;
    -fx-text-fill: -fx-color-typo;
    -fx-content-display: CENTER;
}
.houradjustbutton:hover{
    -fx-background-color: #bb000088;
    -fx-background-radius: 15;
    -fx-background-insets: 5;
}

.houradjustbutton:pressed{
    -fx-background-color: #ff0000;
    -fx-background-radius: 15;
    -fx-background-insets: 5;
}
.houradjustbutton:armed{
    -fx-background-color: #bb00ff;
    -fx-background-radius: 15;
    -fx-background-insets: 5;
}
.houradjustbutton:focused{
    -fx-background-color: #bb000088;
    -fx-background-radius: 15;
    -fx-background-insets: 5;
}
