/* CSS Document */

@import "common.css";

/*******************************************************************************
 *                                                                             *
 * Clock                                                                       *
 *                                                                             *
 ******************************************************************************/
.clockvalue{
    -fx-font: 18px "Roboto Cn";
    -fx-fill: -fx-color-typo;  
}
.datevalue{
    -fx-font: 14px "Roboto Cn";
    -fx-fill: -fx-color-typo;  
}
.clockcadres{
    -fx-stroke-width: 1;
    -fx-fill:-fx-color-backround-value; 
}
.houradjustbutton{
    -fx-background-color: #bb000000;
    -fx-background-radius: 2;
    -fx-text-fill: -fx-color-typo;
    -fx-content-display: CENTER;
}
.houradjustbutton:hover{
    -fx-background-color: #bb000088;
    -fx-background-radius: 15;
    -fx-background-insets: 5;
}
.hourzonebutton{
    -fx-background-color: #bb000000;
    -fx-background-radius: 2;
    -fx-text-fill: -fx-color-typo;
    -fx-content-display: CENTER;
}
.hourzonebutton:hover{
    -fx-background-color: #bb000088;
    -fx-background-insets: 2;
}
.hourzonebutton:focused{
    -fx-background-color: #bb000000;
    -fx-background-radius: 2;
    -fx-text-fill: -fx-color-typo;
    -fx-content-display: CENTER;
}