/* CSS Document */
@font-face {
    -fx-font-family: 'Roboto Cn';
    src: url('fonts/Roboto-Condensed.ttf');
}
/*******************************************************************************
 *                                                                             *
 *                     partie commune aux instruments                          *
 *                  couleurs - surlignage - typo titres                        *
 *                                                                             *
 ******************************************************************************/
*{
    -fx-font-family: "Roboto Cn" ;
    /*---------- couleurs ----------------------*/    
    -fx-base : #143b28;
    -fx-base-trans : #143b2800;
    -fx-base-trans10 : #143b2810;
    -fx-base-trans20 : #143b2820;
    -fx-base-trans95: #143b2895;
    -fx-color : #143b28;
    -fx-no-border: #143b28;
    -fx-line-base : #04fff2;
    -fx-focus-color: derive(-fx-color,80%); /* tonalité claire de la couleur de base*/
    -fx-faint-focus-color: derive(-fx-color,80%);
    -fx-color-typo: #c2f8c4;
    -fx-color-title: #fff900;
    -fx-color-backround-value: -fx-base-trans; /* background transparent boutons*/
    -fx-cell-hover-color:#cce3f4;
    /*------- dégradés des boutons----------*/
    -fx-color-button: derive(-fx-color,30%);
    -fx-button-background-color: linear-gradient(to bottom,
        ladder(
        -fx-color-button,
        derive(-fx-color-button,8%) 75%,
        derive(-fx-color-button,10%) 80%
        ),
        derive(-fx-color-button,-8%));
    /*------- dégradé principal des boutons----------*/
    -fx-body-color: linear-gradient(to bottom,
        ladder(
        -fx-color-button,
        derive(-fx-color-button,8%) 75%,
        derive(-fx-color-button,10%) 80%
        ),
        derive(-fx-color-button,-8%));
    -fx-body-color-bottomup: linear-gradient(to top, derive(-fx-color,10%) ,derive(-fx-color,-6%));
    -fx-body-color-to-right: linear-gradient(to right, derive(-fx-color,10%) ,derive(-fx-color,-6%)); 
    -fx-outer-border: -fx-no-border ;
    -fx-inner-border: -fx-no-border ;
}
/*------------- boutons actifs -------*/
.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused {
    /*-fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;*/
    /*-fx-background-insets: -0.2, 0.5, 2, -1.4, 2.6;*/
    /*-fx-background-radius: 3, 2, 1, 4, 1;*/
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: 0, 1, 2, 4, 4;
    -fx-background-radius: 3, 2, 1, 4, 1;
}
/*---------- LOGO -----------*/
.logo{
    -fx-background-image: url(cssImages/logo50.png) ;
    -fx-background-repeat:no-repeat;
    -fx-background-color: #bb000000;
    -fx-content-display: CENTER;
    -fx-background-size: contain;

}
/*---------- QUIT -----------*/  
.quitbutton
{
    /*-fx-background-image: url(cssImages/quitrouge64.png) ;*/
    -fx-background-repeat:no-repeat;
    -fx-background-color: #ff0000;
    -fx-background-radius: 0;
    -fx-background-size: contain;
    -fx-text-fill: -fx-color-typo;
    /*-fx-content-display: CENTER; */   
    -fx-shape:"M 114.84749,358.31928 c 0,-83.64276 50.68002,-155.85696 118.50289,-167.28553 l 2.28571,-75.07133 C 141.64559,121.6767 24.167476,218.91468 24.167476,358.31928 32.967843,497.70377 136.32463,603.9204 296.20752,609.24757 c 151.13336,0 272.04005,-111.52368 272.04005,-250.92829 0,-139.4046 -95.1924,-242.35686 -212.04005,-245.214 l 0,80.78561 c 72.33526,2.85715 121.36004,80.78563 121.36004,164.42839 0,83.64277 -60.45335,167.28553 -181.36004,167.28553 -30.22667,0 -60.45334,0 -115.37382,-36.57002 C 125.91322,452.46476 114.84749,386.2002 114.84749,358.31928 m 211.58671,-26.37675 0,-295.341034 -60.45335,0 0,295.341034 z";
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 2,0,1,1 );
   /* -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 10,0,2,2 );*/
}
.quitbutton:focused {
    -fx-background-color: #bbbb00;
    -fx-background-radius: 20;
}
/*----------- typos communes ----------- */
.instrumenttitle{
    -fx-font: 20px "Roboto Cn";
    -fx-fill : -fx-color-title;

}
.infotittle{
    -fx-font: 18px "Roboto Cn";
    -fx-fill : -fx-color-title;

}
.instrumentvalue{
    -fx-font: 18px "Roboto Cn";
    -fx-fill: -fx-color-typo;
}
/*---------------- contours et entourages --------------*/
.instrumentcadres{
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 1;
    -fx-fill:-fx-color-backround-value;
    -fx-arc-height:30;	 
    -fx-arc-width: 30;
}
.viewcadres{
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 1;
    -fx-fill:-fx-color-backround-value;
    -fx-arc-height:30;	 
    -fx-arc-width: 30;
}
.instrumentcontour{
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 1;
    -fx-fill : -fx-color-backround-value;
    -fx-arc-height: 40;	 
    -fx-arc-width: 40;
}
.viewcontour{
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 1;
    -fx-fill : -fx-color-backround-value;
    -fx-arc-height: 40;	 
    -fx-arc-width: 40;
}
.imageviewcontour{
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 0.01em;
    -fx-fill : -fx-color-backround-value;
    -fx-arc-height: 0;	 
    -fx-arc-width: 0;
}
/*--------- background instruments - view ----------------*/
.foot-pane {
    -fx-border-radius: 0 0 20 20;
    -fx-background-radius: 0 0 20 20;
    -fx-background-color: #143b28;
}
.top-pane {
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: #143b28;    
}
.left-pane {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #143b28;    
}
.right-pane {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #143b28;    
}
.center-pane {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #143b28;    
}
.background-pane{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: -fx-base;
} 
/*------- Slider --------*/

.slider .thumb {
    -fx-background-color:   -fx-line-base;
    -fx-background-insets: 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 0.583333em;  /* 7 */
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);
}
.slider:focused .thumb {
    -fx-background-radius: 1.0em; /* makes sure this remains circular */

}
.slider .track {
    -fx-background-color:  #04fff2, -fx-line-base;
    -fx-background-insets: 2, 1;
    -fx-background-radius: 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}
.slider:vertical .track {
    -fx-background-color: -fx-line-base;
}
.slider .axis {
    -fx-tick-label-fill: derive(-fx-background, 30%);
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 3px;
    -fx-border-color: null;
}
.sliderlabel{
    -fx-font: 12px "Roboto Cn";
    -fx-fill : -fx-line-base;
    /*-fx-font-weight: bold;*/
}

/*--------- ScrollPane ---------*/
.scrolling-pane > .viewport {
    -fx-background-color: -fx-base-trans95;
    -fx-background-radius: 0.5em;
}
.scrolling-pane > .scroll-bar:horizontal {
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}
.scrolling-pane > .scroll-bar:horizontal > .increment-button,
.scrolling-pane > .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.166667em 0.25em 0.25em  0.25em; /* 2 3 3 3 */
    -fx-background-radius: 0.5em;
}
.scrolling-pane > .scroll-bar:vertical > .increment-button,
.scrolling-pane > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.25em 0.25em 0.166667em; /* 3 3 3 2 */
}
.scrolling-pane > .scroll-bar:vertical {
    -fx-background-insets: 1 1 1 0, 1;
    -fx-padding: 1 0 1 0;
}
.scrolling-pane > .corner {
    -fx-background-color: -fx-base;
    -fx-background-insets: 0 1 1 0;
    -fx-background-radius: 0.25em;
}
/* new styleclass for edge to edge scrollpanes that don't want to draw a border */
.scrolling-pane.edge-to-edge,
.tab-pane > * > .scrolling-pane {
    -fx-background-color: #ff0000;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scrolling-pane.edge-to-edge > .scroll-bar,
.tab-pane > * > .scrolling-pane > .scroll-bar,
.titled-pane > * > * > .scrolling-pane > .scroll-bar {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scrolling-pane.edge-to-edge > .scroll-bar > .increment-button, 
.scrolling-pane.edge-to-edge > .scroll-bar > .decrement-button,
.tab-pane > * > .scrolling-pane > .scroll-bar > .increment-button, 
.tab-pane > * > .scrolling-pane > .scroll-bar > .decrement-button,
.titled-pane > * > * > .scrolling-pane > .scroll-bar > .increment-button,
.titled-pane > * > * > .scrolling-pane > .scroll-bar > .decrement-button {
    -fx-padding: 0.25em; /* 3px */
}
/*------------------ GridPane -----------------*/
.grid-pane {
    -fx-background-color: -fx-base;  
}
/*------------------ TabPane ------------------*/
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-focus-color;
    -fx-effect: dropshadow( two-pass-box , lightgreen ,20,0.2,5,5 );

}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: derive(-fx-mark-color, -30%);
}
.tab-pane > .tab-header-area > .headers-region > .tab:disabled:hover {
    -fx-color: derive(-fx-color,60%);
    -fx-border-color: -fx-line-base;
    -fx-border-width: 1;
}
.tab-pane > .tab-header-area > .tab-header-background {

    -fx-background-color:-fx-base-trans; 
}
.tab-conteneur{
    -fx-background-color:-fx-base-trans;
    -fx-border-color: -fx-line-base;
    -fx-border-width: 30;
    -fx-border-radius:0 0 10 10;
}


/*******************************************************************************
 *                                                                             *
 * Fin des déclarations communes                                               *
 *                                                                             *
 ******************************************************************************/