/* CSS Document */

@import "common.css";

/*******************************************************************************
 *                                                                             *
 * Route editor - aspect Treeview / TextArea                                   *
 *                                                                             *
 ******************************************************************************/
.datatreeview, .datatextarea {
    -fx-background-color: #99000000;
}
.text-area {
    -fx-background-color:#99000000;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Infos et valeurs AIS / routeeditor                                         *
 *                                                                             *
 ******************************************************************************/
.metriclabel{
    -fx-font: 12px "Roboto Cn";
    -fx-fill : -fx-color-typo;
}
.routeeditorvalue{
    -fx-font: 12px "Roboto Cn";
    -fx-fill : -fx-color-typo;
}
.routeeditorlabel{
    -fx-font: 12px "Roboto Cn";
    -fx-fill : -fx-color-typo;
}
.routeeditorcombolabel{
    -fx-font: 10px "Roboto Cn";
    -fx-fill : -fx-color-typo;
}
.routeeditorname{
    -fx-font: 18px "Roboto Cn";
    -fx-fill : -fx-color-typo;
    -fx-underline : true;
}
.info-text{
    -fx-font: 18px "Roboto Cn";
    -fx-fill : -fx-color-title;
}

/*******************************************************************************
 *                                                                             *
 * Measure tools                                                               *
 *                                                                             *
 ******************************************************************************/
.clockcadres, .routeeditor-panel, .routeeditor-info-pane{
    -fx-stroke: -fx-line-base;
    -fx-background-radius: 20 20 20 20;
    -fx-stroke-width: 2;
    -fx-fill:-fx-color-backround-value; 
}
/*
.routeeditor-panel{
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: -fx-base;
    -fx-stroke: -fx-line-base;
}
*/
.routeeditor-circle, .routeeditor-line{
    -fx-stroke: -fx-line-base;
    -fx-fill: -fx-base-trans10;  
}
.routeeditor-line, .routeeditor-ticks {
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 2;
}
.routeeditor-ticks10{
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 3;
}
.routeeditor-degrees{
    -fx-font: 20pt "Roboto";
    -fx-fill:-fx-line-base;
}
.routeeditor-screen {
    /*
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 4px;
    */
    -fx-arc-height:30;
    -fx-arc-width:30;
    -fx-fill: #143b28;    
}
/*
.routeeditor-info-pane {
    -fx-stroke: -fx-line-base;
    -fx-arc-height:20;
    -fx-arc-width:20;
    -fx-fill: -fx-base-trans20;
}
*/
.routeeditor-buttonlabel{
    -fx-font: 14px "Roboto";
    -fx-fill : whitesmoke;
}
.routeeditor-buttonlabel-nlines{
    -fx-font: 12px "Roboto Cn";
    -fx-fill : whitesmoke;
}


