/* CSS Document */
@import "common.css";
/*******************************************************************************
 *                                                                             *
 * textarea - specific css                             *
 *                                                                             *
 ******************************************************************************/


.text-area .scroll-pane .list-view {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport .list-view{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content .list-view{
    -fx-background-color: transparent;
}

