/******************************************************************************
 * Css file for sample of Magnifier Control
 * @author : SaiPradeepDandem
 * 
 ******************************************************************************/
.subTitleLabel {
	-fx-font-size:18px;
	-fx-text-fill:#666666;
	-fx-font-family:Arial;
}

.property-label{
   -fx-font-weight: bold;
   -fx-text-fill:#666666;
}

.form-info{
    -fx-font-style: italic;
    -fx-text-fill:#222222;
}
.sample-button,.sample-button .label, .sample-button-selected,.sample-button-selected .label {
	-fx-cursor:hand;
	-fx-background-color: transparent;
	-fx-background-radius: 12px;
	-fx-padding: 2px 6px 2px 6px !important;
}

.sample-button-selected{
	-fx-cursor:hand;
	-fx-background-color: #404A4C !important;
	-fx-background-radius: 12px;
	-fx-padding: 2px 6px 2px 6px !important;
}

.sample-button .label{
	-fx-text-fill: #404648;
	-fx-fill: #404648;
	-fx-font-family: 'Arial';
	-fx-font-size: 14px !important;
	-fx-font-weight: bold;
}

.sample-button-selected .label{
	-fx-text-fill: #FFFFFF !important;
	-fx-fill: #FFFFFF !important;
	-fx-font-family: 'Arial';
	-fx-font-size: 14px !important;
	-fx-font-weight: bold;
}

.formBox{
	-fx-border-color:#ABABAB;
	-fx-border-width:1px;
	-fx-border-style:solid ;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-background-color:#EAEAEA;
	-fx-effect: dropshadow( gaussian , grey , 15, 0.5 , 0 , 0 );
}

.formTitle{
	-fx-font-weight:bold;
	-fx-font-size:18px;
	-fx-font-family:arial;	
}

.note{
	-fx-font-size:14px;
	-fx-text-fill:brown;
	-fx-font-family:Arial;
	-fx-font-style:italic;
}

.divider{
	-fx-background-color:linear-gradient(to bottom, #DFD9C1, grey, #DFD9C1);
}
