/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 oct. 2015, 18:18:04
    Author     : Dom
*/
/* CSS Document */
* {
    -fx-base: black;
    -fx-light-gradient: white;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;
    -fx-faint-focus-color: -fx-accent;
    -fx-hover-base: lightgrey;
    -fx-pressed-base: derive(-fx-hover-base, -15%);
    -fx-box-border: -fx-hover-base;
    -fx-text-box-border: -fx-hover-base;
    -fx-shadow-highlight-color: -fx-base;
    -fx-outer-border: -fx-hover-base;
}

.tree-view {
    -fx-background-color: #252525;
}

.tree-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#statusBorderPane {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
}

#radialitem {
    -fx-fill: linear-gradient(-fx-light-gradient, -fx-base);
    -fx-stroke: #120D43;
    -fx-stroke-width: 2;
}
