/* CSS Document */
@import "commonTemplate.css";
/*******************************************************************************
 *                                                                             *
 * meteoListView - specific data                             *
 *                                                                             *
 ******************************************************************************/


.text-area .scroll-pane {
    -fx-background-color: #ffff0000;
    -fx-background-radius: 15;
    -fx-border-width: 0;
}
.list-view .list-view:focused:active:filled:pressed{
 -fx-background-color: #ffff0000;
    -fx-background-radius: 15;
    -fx-border-width: 0;   
}
.list-cell .list-cell:focused .list-cell:filled:selected:odd {
 -fx-background-color: #ffff0000;
    -fx-background-radius: 15;
    -fx-border-width: 0;   
}
