/* CSS Document */
@import "commonTemplate.css";
/*******************************************************************************
 *                                                                             *
 * meteoListView - specific data                             *
 *                                                                             *
 ******************************************************************************/

/* ====   BOX LIKE THINGS   ================================================= */

.scroll-pane,
.list-view,
.tree-view
 {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}
.scroll-pane:focused,
.list-view:focused,
.tree-view:focused
{
    -fx-background-color: transparent; 
    -fx-background-insets: -1.4, -0.3, 1;
    -fx-background-radius: 2, 0, 0;
}
/* ones with grey -fx-background not lighter -fx-control-inner-background */
.scroll-pane,
.split-pane {
    -fx-background-color: transparent;
}
.scroll-pane:focused,
.split-pane:focused {
    -fx-background-color: transparent; 
}
.titled-pane > * > * > .split-pane,
.titled-pane > * > * > .text-area,
.titled-pane > * > * > .html-editor,
.titled-pane > * > * > .list-view,
.titled-pane > * > * > .tree-view,
.titled-pane > * > * > .table-view,
.titled-pane > * > * > .tree-table-view,
.titled-pane > * > * > .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}
/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected
{
    -fx-background: transparent;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}
/* Selected when control is not focused */
.list-cell:filled:selected {
    -fx-background: transparent;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}
/* focused cell (keyboard navigation) */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused
{
    -fx-background-color: transparent !important;
    -fx-background-insets: 0, 1, 2 !important;
}
/*******************************************************************************
 *                                                                             *
 * ListView and ListCell                                                       *
 *                                                                             *
 ******************************************************************************/

.list-cell {
    -fx-background: transparent;
    -fx-padding: 0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
}
.list-cell:odd {
    -fx-background: transparent;
}
/* Customise the ListCell that appears in the ComboBox button itself */
.combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
}