/* CSS Document */
@import "commonTemplate.css";
/*******************************************************************************
 *                                                                             *
 * Textlistpanel - specific css                             *
 *                                                                             *
 ******************************************************************************/
* {
    -fx-scrollbar-color: derive(-fx-color,80%);
    -fx-text-base-color: whitesmoke;
    -fx-text-background-color:#ffffff;
    -fx-text-inner-color: whitesmoke;
    -fx-selection-bar-text: whitesmoke;
}
.background-pane{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: -fx-base-transcc;
} 
/*--------- ScrollPane ---------*/
.scrolling-pane > .viewport {
    -fx-background-color: -fx-base-transcc;
    -fx-background-radius: 0.5em;
}
.scrolling-pane > .scroll-bar:horizontal {
    -fx-background-color: -fx-scrollbar-color;
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}
.scrolling-pane > .scroll-bar:horizontal > .increment-button,
.scrolling-pane > .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.166667em 0.25em 0.25em  0.25em; /* 2 3 3 3 */
    -fx-background-radius: 0.5em;
}
.scrolling-pane > .scroll-bar:vertical > .increment-button,
.scrolling-pane > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.25em 0.25em 0.166667em; /* 3 3 3 2 */
}
.scrolling-pane > .scroll-bar:vertical {
    -fx-background-color: -fx-scrollbar-color;
    -fx-background-insets: 1 1 1 0, 1;
    -fx-padding: 1 0 1 0;
    
}
.scrolling-pane > .corner {
    -fx-background-color: -fx-scrollbar-color;
    -fx-background-radius: 0;

}
/* new styleclass for edge to edge scrollpanes that don't want to draw a border */
.scrolling-pane.edge-to-edge,
.tab-pane > * > .scrolling-pane {
    -fx-background-color: -fx-scrollbar-color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 1;
}
.scrolling-pane.edge-to-edge > .scroll-bar,
.tab-pane > * > .scrolling-pane > .scroll-bar,
.titled-pane > * > * > .scrolling-pane > .scroll-bar {
    -fx-background-insets: 0;
    -fx-padding: 1;
}
.scrolling-pane.edge-to-edge > .scroll-bar > .increment-button, 
.scrolling-pane.edge-to-edge > .scroll-bar > .decrement-button,
.tab-pane > * > .scrolling-pane > .scroll-bar > .increment-button, 
.tab-pane > * > .scrolling-pane > .scroll-bar > .decrement-button,
.titled-pane > * > * > .scrolling-pane > .scroll-bar > .increment-button,
.titled-pane > * > * > .scrolling-pane > .scroll-bar > .decrement-button {
    -fx-padding: 0.25em; /* 3px */
}
