/* CSS Document */

@import "commonTemplate.css";

/*******************************************************************************
 *                                                                             *
 * Infos et valeurs AIS                                                        *
 *                                                                             *
 ******************************************************************************/
.radaraisvalue{
    -fx-font: 18px "Roboto";
    -fx-fill : #fff900;
    -fx-font-weight: bold;
}
.radaraislabel{
    -fx-font: 18px "Roboto";
    -fx-fill : -fx-line-base;
}
.radaraisname{
    -fx-font: 18px "Roboto";
    -fx-fill : #fff900;
    -fx-underline : true;
}
.info-text{
    -fx-font: 18px "Roboto";
    -fx-fill : #fff900;
}

/*******************************************************************************
 *                                                                             *
 * radar circles and lines                                                     *
 *                                                                             *
 ******************************************************************************/

.radar-circle, .radar-line{
    -fx-stroke: -fx-line-base;
    -fx-fill: -fx-base-trans10;  
}
.radar-line, .radar-ticks {
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 2;
}
.radar-ticks10{
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 3;
}
.radar-degrees{
    -fx-font: 20pt "Roboto Cn";
    -fx-fill:-fx-line-base;
}
.radar-screen {
    /*
    -fx-stroke: -fx-line-base;
    -fx-stroke-width: 4px;
    */
    -fx-arc-height:30;
    -fx-arc-width:30;
    -fx-fill: #143b28;    
}
.radar-info-pane {
    -fx-stroke: -fx-line-base;
    -fx-arc-height:20;
    -fx-arc-width:20;
    -fx-fill: -fx-base-trans20;
}
.radar-buttonlabel{
    -fx-font: 18px "Roboto Cn";
    -fx-fill : whitesmoke;
}
.radar-buttonlabel-nlines{
    -fx-font: 12px "Roboto Cn";
    -fx-fill : whitesmoke;
}
.radar-togglebutton{
    -fx-background-color: linear-gradient(to bottom,
        ladder(
        -fx-toggle-color,
        derive(-fx-toggle-color,8%) 75%,
        derive(-fx-toggle-color,10%) 80%
        ),
        derive(-fx-toggle-color,-8%));
    -fx-body-color-bottomup: linear-gradient(to top, derive(-fx-toggle-color,10%) ,derive(-fx-toggle-color,-6%));
    -fx-body-color-to-right: linear-gradient(to right, derive(-fx-toggle-color,10%) ,derive(-fx-toggle-color,-6%));
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-font: 14px "Roboto Cn";
    -fx-fill : whitesmoke;
    -fx-alignment: CENTER;
}
